%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %link{:href => "/default.css", :rel => "stylesheet", :type => "text/css"}/
        %title Off Campus Housing Guide Homepage
    %body
        .container
            #footer.span-24
            %fieldset
                %legend
                    %h2 HOUSING
                %br
                %li
                    %a{:href => "/housing/housing"} Housing
                %br
                %li
                    %a{:href => "/essentials/essentials"} Essentials
                %br
                %li
                    %a{:href => "/travel/travel"} Travel
                %br
            %a.button{:href => "/dashboard/index"}Back to Homepage
            %br
        %br


