%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
        %link{:href => "/default.css", :rel => "stylesheet", :type => "text/css"}
        %title Off Campus Housing Guide Homepage
        %br
    %body
        .container
            #footer.span-24
            %fieldset
                %legend
                    %h2 CONTACT US
                %br
                %p Devina Dhuri : 607-297-8546 ...ddhuri1@binghamton.edu
                %br
                %p Scott Mason : 315-396-9551 ...smason8@binghamton.edu
                %br
                %p Abhijeet Mahajan : 607-232-0595 ...amahaja4@binghamton.edu
                %br
                %p Purva Thakkar : 267-206-5612 ...pthakka4@binghamton.edu
                %br
                %p Michael Quinn : 475-529-6917 ...mquinn5@binghamton.edu
                %br
                %p Johan Ferreras : 347-210-3518 ...jferrer4@binghamton.edu
                %br