
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
        %link{:href => "/default.css", :rel => "stylesheet", :type => "text/css"}
        %title Off Campus Housing Guide Homepage
        %br
    %body
        .container
            #footer.span-24
            %fieldset
                %legend
                    %h2 FAQ
                %br
                %li Courses and total cost structure:
                %p You are allowed to take 5 courses in a semester but your graduate counselor won't allow you to take more than 3. only few will get 4.
                %p I recommend not taking 4 in your 1st semester.
                %p It gets really tough when you take 4 forget about 5.
                %p you will have Assignments, Projects, Homeworks, Quizzes, Exams(midterm and final).
                %p sometimes many of these will fall on a single day with a combination of 3-4 subjects.
                    
                %br 
                %li TAKE 3 COURSES
                %p cost for 1 credit is around 1k which means 1 course costs you 3k.
                %p you have to complete 30 credits i.e 10 courses which will cost you 30k
                %p  Although that's not the real-time case
                %p At least for Computer Science Students.
                %p  As per SUNY law Irrespective of how many courses you take you have to pay for 12 credits i.e 4 courses. because to maintain your status as a graduate student for the 1st year you must be enrolled in for 12 credits each semester for 1st year.
                %p  So how does it works: here comes the concept of Dummy subject.
                %p  So when you enroll for 3 courses a dummy course is added to your account.
                %p Dummy course doesn't get you the credit. it's just for show that you are enrolled for those 3 credits but you have to pay for it.
                %p  so 1st semester:
                %li 3 courses
                %p paying for 4: 12k
                %p 2nd semester:
                %li 3 courses
                %p paying for 4: 12k
                %p total till now 24k.
                %p 1st year ends.
                %p now you don't need to have dummy course. you pay only for the number of credits you take
                
                %p you are left with 4 courses i.e 12 k
                %p so total is 36k
                %p let's say there might be some inflation so total is 37k$
                %p every month lets say your avg living cost will be 500$
                %p so that is 12k$ for 2 years
                %p total cost for MS 36k + 12k = 48k
                %p let's say you spend a little bit more here and there, approximating it to $50K ~~ 32.5 lakh rs
                %p if you get part-time in the dining services i.e 11$ per hour rate
                %p you might get 10-15 hr per week.
                %p consider 10 hr so i.e 110$ per week
                %p 4 weeks a month i.e 440$ a week.
                %p considering you keep doing it for 2 years
                %p 440 * 12 = 5280$
                %p 50k - 5k = 45k
                %li  RA and TA
                %p if you get a reasonable internship or RA, TA you cost reduces more.
                %p  RA gets full tuition fees off and stipend around 1500$ per month, given usually to Ph.D.
                %p students or if you are exceptionally brilliant.
                %p  TA, usually Half TA is given to us i.e half tuition fees off for the particular semester and stipend
                %p of around 2.5k$ for that semester.
                %p  TA is usually offered to students who get 4/4 GPA but also 3.7-4.0 is considered and depends
                %p on the student
                %p so if you get TA even for a semester you are saving around 9k that brings down your total cost
                %p to 41k straight i.e around 27 lakh.
                %p best part is If you do nothing , no part time, no internship only focus on you study, still you can
                %p complete your education in 32.5 lakh, rounding it to 35 lakh.
                
                %br 
                %br
                
                %li  HOUSING LEASE
               
                %p  Don't sign or pay your lease from India.. come here, take a look at what you are planning, and
                %p keep a backup plan.. if you sign your lease and you come here and it isn't as you expected you'll
                %p have to live with regret. (You can break the lease but that would be considering that you already
                %p have somewhere else to go and they will ask you to pay a certain amount to break the lease).
                
                %li Houses:
                %p usually, houses are like
                %p 3 bed 1 bath
                %p 4 bed 1 bath
                %p 5 bed 2 bath
                %p 6 bed 2 bath
                %p 7,8 bed 2,3 bath
                
                
                %li the upper limit for rent:
                %p 300$ without utilities
                %p  350$ including utilities
                %li Note:
                %p 1.utilities means gas, electricity, heat.
                %p 2.above prices are for fully furnished houses.
                %p most of the houses are fully furnished(TV, Fridge, Dryer(coin/free), Washing Machine(coin/free),
                %p Table, Chair, Bed, Mattress, 1 big drawer box, vacuum cleaner, dishwasher, dining table, hall
                %p sofa and couch,)
                %li NOTE:
                %p these are some must-have stuff included in your lease. Make sure you get all this stuff.
                %p any deal above this is considered expensive.
                %p lease have various types of deposits:
                %p 1. last month rent + deposit(total of 1 month or 2 months)
                %p 2. deposit only
                %p lease vary from 10 months to 12 months.
                %p some houses have old heaters due to which bill increases. Before booking any house consult
                %p with seniors they can guide you or get in touch with current tenants and ask them the average
                %p bill.
                %p in summer it goes around 20-30$ per head in winters around 60-70$ per head.
                %p the average for 12 months is around 50$
                %li sources to search house:
                %p 1. ME(Sujoy :p I know few Owners)
                %p 2. Trulia
                %p 2. Craigslist
                %p 3. www.apartments.com/binghamton-ny/
                %p 4. https://www.apartmentguide.com/apartments/New-York/Binghamton/